body {
    background-color: #84A5C2;
    color: #27343a;
}

.title a {
    background-color: turquoise;
    color: #34414D;
}
.footer {
    background-color: #4688C2;
}

.footer p {
    color: #34414D;
}

.footer a {
    color: #34414D;
    text-decoration: none;
}

.nav a {
    color: #344750;
}
