body {
    background-color: #00063D;
    color: #75778A;
}

.title a {
    background-color: turquoise;
    color: #75778A;
}
.footer {
    background-color: #75778A;
}

.footer p {
    color: #00063D;
}

.footer a {
    color: #00063D;
    text-decoration: none;
}

.nav a {
    color: #313FBD;
}
