/*
.sides-page {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 2em 2em;
    margin-bottom: 20px;
}

.sides-box {
    border: 1px solid #ccc;
    padding: 2em;
    text-align: center;
}
*/